<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>
    <link href="{{ url_for('static', filename="addNew.css") }}" rel="stylesheet"/>
    <title>addNewDiary</title>
</head>
<body>
    <div class="background">
        <div class="header"></div>
        <div class="tool_box">
            <div id="tool1" class="tool"></div>
            <div id="tool2" class="tool"></div>
            <div id="tool3" class="tool"></div>
            <div id="tool4" class="tool"></div>
            <div id="tool5" class="tool"></div>
            <div id="tool6" class="tool"></div>
            <div id="tool7" class="tool"></div>
            <div id="tool8" class="tool"></div>
            <div id="tool9" class="tool"></div>
            <div id="tool10" class="tool"></div>
            <div id="tool11" class="tool"></div>
            <div id="tool12" class="tool"></div>
        </div>
        <div class="feelings">
            <div id="feel1" class="feel"></div>
            <div id="feel2"class="feel"></div>
            <div id="feel3"class="feel"></div>
            <div id="feel4"class="feel"></div>
            <div id="feel5"class="feel"></div>
            <div id="feel6"class="feel"></div>
        </div>
        <span class="current">Current Date</span>
        <div class="tags">
            <div id="tag1" class="tag"></div>
            <div id="tag2" class="tag"></div>
            <div id="tag3" class="tag"></div>
            <div id="tag4" class="tag"></div>
            <div id="tag5" class="tag"></div>
            <div id="tag_more" class="tag"></div>
        </div>
        <span class="plus">+</span>
        <div class="write"></div>
        <span class="saved_to">Saved to: xxxxx</span>
        <div class="finish"></div>
        <span class="finish_text" onclick="clickmainpage()">Finish</span>
    </div>
<script>
function clickmainpage(){
    window.location.href = "http://127.0.0.1:5000/ ";
}
</script>
</body>
</html>

