<!DOCTYPE html><html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet" />
        <link href="./main.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="frame">
            <div class="header"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="mood_icon">
                <div class="mood_icon1"></div>
                <div class="mood_icon2"></div>
                <div class="mood_icon3"></div>
                <div class="mood_icon4"></div>
                <div class="mood_icon5"></div>
            </div>
            <div class="like_icon"></div>
            <div class="notebook"></div>
            <span class="reply">Send him/her a private note</span>
            <span class="exchange">Exchange your notebook</span>
            <div class="reply_icon"></div>
            <div class="exchange_icon"></div>
        </div>
    </body>
</html>
