<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet"/>
    <link href="mainPage.css" rel="stylesheet"/>
    <title>Document</title>
     
</head>
<body>
    <div class="v10_3">
        <div class="left_arrow"></div>
        <div class="right_arrow"></div>
        <div class="enter_community"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="v10_8"></div>
        <div class="v10_7"></div>
        <div class="name"></div>
        <div class="v10_45">
            <div class="v10_33"></div>
            <div class="v10_34"></div>
            <div class="v10_35"></div>
            <div class="v10_36"></div>
            <div class="v10_37"></div>
            <div class="v10_38"></div>
            <div class="v10_43"></div>
            <div class="v10_44">+</div>
        </div>
        <div class="v10_14">All Diaries</div>
        <div class="v10_27">
            <div class="name"></div>
            <div class="name"></div>
        </div>
        <div class="name"></div>
        <div class="v10_21"></div>
        <div class="v10_22"></div>
        <div class="v10_17"></div>
        <div class="v10_19"></div>
        <div class="v10_18"></div>
        <div class="plus">+</div>
    </div>
</body>
</html>