<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet"/>
    <link href="{{ url_for('static', filename = 'mainPage.css') }}" rel="stylesheet"/>
    <title>mainpage</title>

</head>
<body>
    <div class="v10_3">
        <div class="left_arrow"></div>
        <div class="right_arrow"></div>
        <div class="enter_community"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="v10_8"></div>
        <div class="v10_7"></div>
        <div class="name"></div>
        <div class="v10_45">
            <div class="v10_33"></div>
            <div class="v10_34"></div>
            <div class="v10_35"></div>
            <div class="v10_36"></div>
            <div class="v10_37"></div>
            <div class="v10_38"></div>
            <div class="v10_43"></div>
            <div class="v10_44">+</div>
        </div>
        <div class="v10_14">All Diaries</div>
        <div class="v10_27">
            <div class="name"></div>
            <div class="name"></div>
        </div>
        <div class="name"></div>
        <div class="v10_21"></div>
        <div class="v10_22" onclick = "click()"></div>
        <div class="v10_17"></div>
        <div class="v10_19"></div>
        <div class="v10_18"></div>
        <div class="plus" onclick = "clickaddNew()">+</div>
    </div>
<script>
    function clickaddNew() {
    alert("Handler for .click() called.");
    window.location.href = "addNew";
}

function clickSingleNotebook(){
    window.location.href = "SingleNotebook";
}

function clickCommunity(){
    window.location.href = "Community";
}

function clickcalender(){
    window.location.href = "calender";
}

function clickmainpage(){
    window.location.href = "";
}

</script>
</body>
</html>

