<!DOCTYPE html><html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet" />
        <link href="./main.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="frame">
            <div class="header"></div>
            <div class="small_notebook"></div>
            <div class="calendar"></div>
            <span class="January">January</span>
            <span class="can1">1</span>
            <span class="can2">2</span>
            <span class="can3">3</span>
            <span class="can4">4</span>
            <span class="can5">5</span>
            <span class="can6">6</span>
            <span class="can7">7</span>
            <span class="can8">8</span>
            <span class="can9">9</span>
            <span class="can10">10</span>
            <span class="can11">11</span>
            <span class="can12">12</span>
            <span class="can13">13</span>
            <span class="can14">14</span>
            <span class="can15">15</span>
            <span class="can16">16</span>
            <span class="can17">17</span>
            <span class="can18">18</span>
            <span class="can19">19</span>
            <span class="can20">20</span>
            <span class="can21">21</span>
            <span class="can22">22</span>
            <span class="can29">29</span>
            <span class="can23">23</span>
            <span class="can30">30</span>
            <span class="can24">24</span>
            <span class="can31">31</span>
            <span class="can25">25</span>
            <span class="can26">26</span>
            <span class="can27">27</span>
            <span class="refer">
                *refer  to the specifc date
                *asdasd
            </span><div class="can1_box"></div>
        </div>
    </body>
</html>