* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.frame {
  width: 100%;
  height: 2048px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.header {
  width: 100%;
  height: 126px;
  background: rgba(110,128,131,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  font-family: Signika;
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: center;
  color:white
}
.small_notebook {
  width: 328px;
  height: 395px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 206px;
  left: 77px;
  overflow: hidden;
  background-image: url("img/bg1.png");
  background-size: cover;
}
.calendar {
  width: 861px;
  height: 789px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 206px;
  left: 509px;
  overflow: hidden;
}
.January {
  width: 922px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 246px;
  left: 479px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.can1 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 407px;
  left: 552px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can2 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 407px;
  left: 673px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can3 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 407px;
  left: 794px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can4 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 407px;
  left: 915px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can5 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 407px;
  left: 1037px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can6 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 407px;
  left: 1157px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can7 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 407px;
  left: 1278px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can8 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 513px;
  left: 552px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can9 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 513px;
  left: 673px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can10 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 513px;
  left: 794px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can11 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 513px;
  left: 915px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can12 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 513px;
  left: 1037px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can13 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 513px;
  left: 1157px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can14 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 513px;
  left: 1278px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can15 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 619px;
  left: 552px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can16 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 619px;
  left: 673px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can17 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 619px;
  left: 794px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can18 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 619px;
  left: 915px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can19 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 619px;
  left: 1037px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can20 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 619px;
  left: 1157px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can21 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 619px;
  left: 1278px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can22 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 725px;
  left: 552px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can29 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 832px;
  left: 552px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can23 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 725px;
  left: 673px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can30 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 832px;
  left: 673px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can24 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 725px;
  left: 794px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can31 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 832px;
  left: 794px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can25 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 725px;
  left: 915px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can26 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 725px;
  left: 1037px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.can27 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 725px;
  left: 1157px;
  font-family: Signika;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}

.refer {
  width: 863px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1074px;
  left: 507px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Signika;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.can1_box {
  width: 69px;
  height: 116px;
  background: rgba(255,255,255,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 397px;
  left: 560px;
  overflow: hidden;
}
